@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 135 60% 97%;
    --foreground: 130 30% 20%;
    --card: 0 0% 100%;
    --card-foreground: 130 30% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 130 30% 20%;
    --primary: 130 40% 40%;
    --primary-foreground: 135 60% 97%;
    --secondary: 135 20% 92%;
    --secondary-foreground: 130 30% 20%;
    --muted: 135 20% 92%;
    --muted-foreground: 130 30% 40%;
    --accent: 212 98% 73%;
    --accent-foreground: 224 71% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 135 20% 90%;
    --input: 135 20% 90%;
    --ring: 130 40% 40%;
    --chart-1: 130 40% 40%;
    --chart-2: 173 58% 39%;
    --chart-3: 212 98% 73%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 130 10% 10%;
    --foreground: 135 40% 90%;
    --card: 130 10% 10%;
    --card-foreground: 135 40% 90%;
    --popover: 130 10% 10%;
    --popover-foreground: 135 40% 90%;
    --primary: 135 40% 90%;
    --primary-foreground: 130 40% 40%;
    --secondary: 130 15% 15%;
    --secondary-foreground: 135 40% 90%;
    --muted: 130 15% 15%;
    --muted-foreground: 135 20% 60%;
    --accent: 212 98% 73%;
    --accent-foreground: 135 40% 90%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 130 15% 20%;
    --input: 130 15% 20%;
    --ring: 135 40% 90%;
    --chart-1: 130 40% 40%;
    --chart-2: 173 58% 39%;
    --chart-3: 212 98% 73%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
